@media screen and (min-width: 0px) and (max-width: 350px) {
h1 {
    font-weight: 700;
    letter-spacing: -4px;
    font-size: 90px;
    line-height: 90px;
}

h2 {
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 40px;
}  
    
h5 {
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 0px;
} 
    
h6 {
    font-size: 9px;
    line-height: 11px;
    font-weight: 500;
    letter-spacing: 0px;
}
    
h7 {
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0px;
} 
    
h8 {
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 40px;
} 
    
h9 {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -.2px;
}
    
p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: -.2px;
} 
.button_container {
    font-weight: 700;
    letter-spacing: -5px;
    font-size: 100px;
    line-height: 100px;
    position: absolute;
    top: 5px;
    z-index: 999;
    left: calc(100% - 50px);
    }
    
.menu-text-header2{
        opacity: 0;
    }  
    
.menu-text {
    top: 25px;
    left: 25px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    }
 
.menu-text span {
    font-weight: 500;
    }

.menu-text div{
    position: relative;
    padding-right: 20px;
    display: inline-block;
    -webkit-transition: all 1s  ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    }
    
.profile-section-header{
    left: 50px;
    position: relative;
    margin-top: -25px;
}

.profile-section-body{
    width: 280px;
    font-size: 15px; 
    line-height: 20px;
    left: 15px;
    top: 25px;
    clear: both;
}  
 
.profile-section-body2{
    width: 280px;
    font-size: 15px; 
    line-height: 20px;
    left: 15px;
    margin-top:  45px;
    clear: both;
}  
     
.links-section-header2 span{
    font-size: 16px; 
    line-height: 21px;
}    
.profile-landing-image{
    margin-top: 300px;
    left: 0px;
    width: calc(100% - 0px);
}
.profile-landing-image img{
    width: 100%;
}
  
.image-credit{
    float: left;
    position: relative;
    width: 250px;
    left: 50px;
}
.profile-name{
    width: 280px;
    left: 15px;
    margin-top: 100px;
}
.profile-degree{
    width: 280px;
    left: 15px;
}   
.social-links{
    margin-left: 90px;
    margin-top: -25px;
}
.school{
    margin-top: 100px;
    margin-left: 90px;
}  
  
.school-section-header2 span{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: -.2px;
    font-weight: 500;
    clear: both; 
    display: block;
}  
    
.links-section-header2 span{
    font-size: 16px; 
    letter-spacing: -.2px;
    line-height: 22px;
    font-weight: 500;
    clear: both; 
    display: block;
}

.links-section-header3 span{
    font-size: 16px; 
    letter-spacing: -.2px;
    line-height: 20px;
    font-weight: 500;
    clear: both; 
    display: block;
}

.links-section-header4 span{
    font-size: 16px; 
    letter-spacing: -.2px;
    line-height: 20px;
    font-weight: 500;
    clear: both; 
    display: block;
}

.links-section-header5 span{
    font-size: 16px; 
    letter-spacing: -.2px;
    line-height: 20px;
    font-weight: 500;
    clear: both; 
    display: block;
}     
.landing-info-section{
    padding-bottom: 100px;
}  
.profile-work{
    width: calc(100% - 15px);
    right: 0px;
}    
.profile-work-2{
    width: calc(80%);
    margin-top: 100px;
}   
.profile-work-3{
    width: calc(85%);
    margin-top: 100px;
}   
.profile-work-4{
    width: calc(85%);
    right: 5%;
    margin-top: 100px;
}   
.profile-work-5{
    width: calc(90%);
    margin-top: 100px;
} 
.profile-work h6{
    left: 15px;
    width: 80%;
}
.profile-work-2 h6{
    left: 15px;
    width: 80%;
}
.profile-work-3 h6{
    left: 15px;
    width: 80%;
}
.profile-work-4 h6{
    left: 15px;
    width: 80%; 
}
.profile-work-5 h6{
    left: 15px;
    width: 80%;  
} 
.team-links{
    left: 15px;
    margin-top: -150px;
}

.team-section-header2{
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -.2px;
}

.team-section-header3{
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -.2px;
}

.team-section-header4{
    font-size: 15px;
    line-height: 19px;
    letter-spacing: -.2px;
}
    
.footer-text {
    left: 15px;
    height: 810px;
    }
    
.footer-sub-menu{
    width: 150px;
    line-height: 14px;   
}
.footer-sub-menu3{
    left: 75px;
    width: 340px;
    top: -30px;
    float: left;
    clear: both;
    line-height: 14px; 
}
    
.footer-text-header3 {
    left: 75px;
    top: 20px;
    clear: both;
    line-height: 14px;
}

.footer-text-header2{
    left: -36px;
    margin-top: 300px;
}

.logo-footer img{
    left: 75px;
    top: 245px;
}

.logo-footer2 img{
    left: 70px;
    top: 255px;
    clear: both;
}   

.profile-map{
    left: calc(5%);
    padding-top: 185px;
    position: relative;
    width: calc(90%);
}
    
.profile-location{
    left: 50px;
    float: left;
    margin-top: 25px;
}

.map-links{
    margin-top: -15px;
    left: 90px;
}
     
}

@media screen and (min-width: 351px) and (max-width: 412px) {
h1 {
    font-weight: 700;
    letter-spacing: -4px;
    font-size: 90px;
    line-height: 90px;
}

h2 {
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 40px;
}  
    
h5 {
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 0px;
} 
    
h6 {
    font-size: 9px;
    line-height: 11px;
    font-weight: 500;
    letter-spacing: 0px;
}
    
h7 {
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0px;
} 
    
h8 {
    font-weight: 500;
    letter-spacing: -1px;
    font-size: 40px;
    line-height: 40px;
} 
    
h9 {
    font-size: 17px;
    line-height: 21px;
}
    
p {
    font-size: 17px;
    line-height: 21px;
} 
.button_container {
    font-weight: 700;
    letter-spacing: -5px;
    font-size: 120px;
    line-height: 120px;
    position: absolute;
    top: 5px;
    z-index: 999;
    left: calc(100% - 50px);
    }
    
.menu-text-header2{
        opacity: 0;
    }  
    
.menu-text {
    top: 25px;
    left: 25px;
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
    letter-spacing: 0px;
    }
 
.menu-text span {
    font-weight: 500;
    }

.menu-text div{
    position: relative;
    padding-right: 20px;
    display: inline-block;
    -webkit-transition: all 1s  ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    }
    
.profile-section-header{
    left: 50px;
    position: relative;
    margin-top: -25px;
}

.profile-section-body{
    width: 300px;
    font-size: 15px; 
    line-height: 20px;
    left: 15px;
    top: 25px;
    clear: both;
}  
 
.profile-section-body2{
    width: 300px;
    font-size: 15px; 
    line-height: 20px;
    left: 15px;
    margin-top:  45px;
    clear: both;
}  
     
.links-section-header2 span{
    font-size: 16px; 
    line-height: 21px;
}    
.profile-landing-image{
    margin-top: 400px;
    left: 0px;
    width: calc(100% - 0px);
}
.profile-landing-image img{
    width: 100%;
}
  
.image-credit{
    float: left;
    position: relative;
    width: 300px;
    left: 50px;
}
.profile-name{
    width: 350px;
    left: 15px;
    margin-top: 100px;
}
.profile-degree{
    width: 350px;
    left: 15px;
}   
.social-links{
    margin-left: 154px;
    margin-top: -25px;
}
.school{
    margin-top: 100px;
    margin-left: 154px;
} 
    
.landing-info-section{
    padding-bottom: 100px;
}  
.profile-work{
    width: calc(100% - 15px);
    right: 0px;
}    
.profile-work-2{
    width: calc(80%);
    margin-top: 100px;
}   
.profile-work-3{
    width: calc(85%);
    margin-top: 100px;
}   
.profile-work-4{
    width: calc(85%);
    right: 5%;
    margin-top: 100px;
}   
.profile-work-5{
    width: calc(90%);
    margin-top: 100px;
} 
.profile-work h6{
    left: 15px;
    width: 80%;
}
.profile-work-2 h6{
    left: 15px;
    width: 80%;
}
.profile-work-3 h6{
    left: 15px;
    width: 80%;
}
.profile-work-4 h6{
    left: 15px;
    width: 80%; 
}
.profile-work-5 h6{
    left: 15px;
    width: 80%;  
} 
.team-links{
    left: 15px;
    margin-top: -150px;
}
.footer-text {
    left: 15px;
    height: 610px;
    }
    
.footer-sub-menu{
    width: 150px;
    line-height: 14px;   
}
.footer-sub-menu3{
    left: 140px;
    width: 340px;
    top: -30px;
    float: left;
    clear: both;
    line-height: 14px; 
}
    
.footer-text-header3 {
    left: 140px;
    top: 20px;
    clear: both;
    line-height: 14px;
}

.footer-text-header2{
    left: 28px;
}

.logo-footer img{
    left: 140px;
    top: 245px;
}

.logo-footer2 img{
    left: 136px;
    top: 255px;
    clear: both;
}   

.profile-map{
    left: calc(5%);
    padding-top: 185px;
    position: relative;
    width: calc(90%);
}
    
.profile-location{
    left: 100px;
    float: left;
    margin-top: 25px;
}

.map-links{
    margin-top: -15px;
    left: 154px;
}
     
}

@media screen and (min-width: 413px) and (max-width: 800px) {    
h1 {
    font-weight: 700;
    letter-spacing: -4px;
    font-size: 90px;
    line-height: 90px;
}

h2 {
    font-weight: 700;
    letter-spacing: -2px;
    font-size: 45px;
    line-height: 45px;
}  
    
h5 {
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    letter-spacing: 0px;
} 
    
h6 {
    font-size: 9px;
    line-height: 11px;
    font-weight: 500;
    letter-spacing: 0px;
}
    
h7 {
    font-size: 11px;
    line-height: 13px;
    font-weight: 500;
    letter-spacing: 0px;
} 
    
h8 {
    font-weight: 500;
    letter-spacing: -2px;
    font-size: 45px;
    line-height: 45px;
} 
    
h9 {
    font-size: 17px;
    line-height: 21px;
}
    
p {
    font-size: 17px;
    line-height: 21px;
} 
.button_container {
    font-weight: 700;
    letter-spacing: -5px;
    font-size: 120px;
    line-height: 120px;
    position: absolute;
    top: 5px;
    z-index: 999;
    left: calc(100% - 50px);
    }
    
.menu-text-header2{
        opacity: 0;
    }  
    
.menu-text {
    top: 25px;
    left: 25px;
    font-size: 13px;
    line-height: 17px;
    font-weight: 700;
    letter-spacing: 0px;
    }
 
.menu-text span {
    font-weight: 500;
    }

.menu-text div{
    position: relative;
    padding-right: 20px;
    display: inline-block;
    -webkit-transition: all 1s  ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    }
    
.profile-section-header{
    left: 50px;
    position: relative;
    margin-top: -25px;
}

.profile-section-body{
    width: 350px;
    font-size: 16px; 
    line-height: 21px;
    left: 15px;
    top: 25px;
    clear: both;
}  
 
.profile-section-body2{
    width: 350px;
    font-size: 16px; 
    line-height: 21px;
    left: 15px;
    margin-top:  45px;
    clear: both;
}  
     
.links-section-header2 span{
    font-size: 16px; 
    line-height: 21px;
}    
.profile-landing-image{
    margin-top: 440px;
    left: 0px;
    width: calc(100% - 0px);
}
.profile-landing-image img{
    width: 100%;
}
  
.image-credit{
    float: left;
    position: relative;
    width: 300px;
    left: 50px;
}
.profile-name{
    width: 400px;
    left: 15px;
    margin-top: 500px;
}
.profile-degree{
    width: 400px;
    left: 15px;
}   
.social-links{
    margin-left: 187px;
    margin-top: -25px;
}
.school{
    margin-top: 100px;
    margin-left: 187px;
}   
.landing-info-section{
    padding-bottom: 100px;
}  
.profile-work{
    width: calc(100% - 15px);
    right: 0px;
}    
.profile-work-2{
    width: calc(80%);
    margin-top: 35px;
}   
.profile-work-3{
    width: calc(85%);
    margin-top: 35px;
}   
.profile-work-4{
    width: calc(85%);
    right: 5%;
    margin-top: 35px;
}   
.profile-work-5{
    width: calc(90%);
    margin-top: 35px;
} 
.profile-work h6{
    left: 15px;
    width: 80%;
}
.profile-work-2 h6{
    left: 15px;
    width: 80%;
}
.profile-work-3 h6{
    left: 15px;
    width: 80%;
}
.profile-work-4 h6{
    left: 15px;
    width: 80%; 
}
.profile-work-5 h6{
    left: 15px;
    width: 80%;  
} 
.team-links{
    left: 15px;
    margin-top: -150px;
}
.footer-text {
    left: 15px;
    height: 630px;
    }
    
.footer-sub-menu{
    width: 150px;
    line-height: 14px;   
}
.footer-sub-menu3{
    left: 172px;
    width: 340px;
    top: -30px;
    float: left;
    clear: both;
    line-height: 14px; 
}
    
.footer-text-header3 {
    left: 172px;
    top: 20px;
    clear: both;
    line-height: 14px;
}

.footer-text-header2{
    left: 60px;
}

.logo-footer img{
    left: 172px;
    top: 245px;
}

.logo-footer2 img{
    left: 165px;
    top: 255px;
    clear: both;
}   

.profile-map{
    left: calc(5%);
    padding-top: 185px;
    position: relative;
    width: calc(90%);
}
    
.profile-location{
    left: 100px;
    float: left;
    margin-top: 25px;
}

.map-links{
    margin-top: -15px;
    left: 187px;
}
            
}

@media screen and (min-width: 801px) and (max-width: 1099px) {
  
h1 {
    font-weight: 700;
    letter-spacing: -4px;
    font-size: 90px;
    line-height: 90px;
}

h2 {
    font-weight: 700;
    letter-spacing: -4px;
    font-size: 90px;
    line-height: 90px;
}  
    
h8 {
    font-weight: 500;
    letter-spacing: -4px;
    font-size: 90px;
    line-height: 90px;
} 
    
h9 {
    font-size: 17px;
    line-height: 21px;
}
    
p {
    font-size: 17px;
    line-height: 21px;
} 

.profile-section-body{
    width: 410px;
    font-size: 16px; 
    line-height: 21px;
    left: -43px;
}  
 
.profile-section-body2{
    width: 410px;
    font-size: 16px; 
    line-height: 21px;
}  
     
.links-section-header2 span{
    font-size: 16px; 
    line-height: 21px;
}    
.profile-landing-image{
    margin-top: 440px;
    left: 0px;
    width: calc(100% - 0px);
}
.profile-landing-image img{
    width: 100%;
}
  
.profile-name{
    width: 750px;
}
.profile-degree{
    width: 750px;
}   
.social-links{
    margin-left: -180px;
    margin-top: 45px;
}
.school{
    margin-left: 100px;
}   
.profile-work{
    width: calc(80%);
    right: 0px;
}    
.profile-work-2{
    width: calc(70%);
    margin-top: 200px;
}   
.profile-work-3{
    width: calc(75%);
    margin-top: 150px;
}   
.profile-work-4{
    width: calc(85%);
    right: 50px;
    margin-top: 200px;
}   
.profile-work-5{
    width: calc(80%);
    margin-top: 200px;
}  

.footer-text {
    height: 550px;
    }
    
.footer-sub-menu{
    width: 150px;
}

.footer-sub-menu3{
    left: 205px;
    width: 340px;
    top: 0px;
    float: left;
    clear: both; 
}
    
.footer-text-header3 {
    left: 205px;
    top: 20px;
    clear: both;
}

.footer-text-header2{
    left: 75px;
}

.logo-footer img{
    left: 203px;
    top: 275px;
}

.logo-footer2 img{
    left: 210px;
    top: 275px;
}   


.profile-map{
    left: calc(30% - 50px);
    margin-top: -85px;
    position: relative;
    width: calc(70%);
}
    
.profile-location{
    left: -100px;
    float: right;
}

.map-links{
    margin-top: -15px;
    float: right;
    left: -100px;
}
  
    
}
@media screen and (min-width: 1100px) and (max-width: 1300px) {
    
h1 {
    font-weight: 700;
    letter-spacing: -4px;
    font-size: 100px;
    line-height: 80px;
}

h2 {
    font-weight: 700;
    letter-spacing: -4px;
    font-size: 100px;
    line-height: 100px;
}  
    
h8 {
    font-weight: 500;
    letter-spacing: -4px;
    font-size: 100px;
    line-height: 100px;
} 
.profile-name{
    width: 950px;
}
.profile-degree{
    width: 950px;
}   
.social-links{
    margin-left: 100px;
}
.school{
    margin-left: 50px;
}  
    
.profile-work{
    width: calc(900px);
    right: 0px;
}    
.profile-work-2{
    width: calc(600px);
}   
.profile-work-3{
    width: calc(600px);
}   
.profile-work-4{
    width: calc(750px);
}   
.profile-work-5{
    width: calc(950px);
}  
    
.profile-map{
    left: calc(30% - 50px);
    margin-top: -85px;
    position: relative;
    width: calc(70%);
}
    
.profile-location{
    left: -100px;
    float: right;
}

.map-links{
    margin-top: -15px;
    float: right;
    left: -100px;
}
       
    
}
@media screen and (min-width: 1300px) and (max-width: 1390px) {   
.social-links{
    margin-left: 200px;
}
.profile-name{
    width: 1050px;
}
.profile-degree{
    width: 1050px;
}
    



.profile-map{
    left: calc(30% - 50px);
    margin-top: -85px;
    position: relative;
    width: calc(70%);
}
    
.profile-location{
    left: -100px;
    float: right;
}

.map-links{
    margin-top: -15px;
    float: right;
    left: -100px;
}
    
    
    
    
}


@media screen and (min-width: 1441px) and (max-width: 1599px) {
.profile-landing-image{
    width: calc(1440px - 100px);
}

.button_container {
    left: calc(1440px - 80px);
    }
}

@media screen and (min-width: 1600px) and (max-width: 1899px) {
  
    
.profile-landing-image{
    width: calc(1440px - 100px);
}
.button_container {
    left: calc(1440px - 80px);
    }   

.profile-work{
    left: 440px;
    clear: both;
    float: left;
    width: calc(1000px);
}

.profile-work-4{
    left: 440px;
    clear: both;
    float: left;
    width: calc(850px);
}

.profile-work-5{
    clear: both;
    right: 0px;
    float: left;
    position: relative;
    width: calc(1100px);
    display: block;
    padding-top: 0px;
}

}
@media screen and (min-width: 1900px) and (max-width: 2549px) {

.profile-landing-image{
    width: calc(1440px - 100px);
}
    
.button_container {
    left: calc(1440px - 80px);
    }    

.profile-work{
    left: 440px;
    clear: both;
    float: left;
    width: calc(1000px);
}

.profile-work-4{
    left: 440px;
    clear: both;
    float: left;
    width: calc(850px);
}

.profile-work-5{
    clear: both;
    right: 0px;
    float: left;
    position: relative;
    width: calc(1100px);
    display: block;
    padding-top: 0px;
}   
}
@media screen and (min-width: 2550px) and (max-width: 100440px) {
.profile-landing-image{
    width: calc(1440px - 100px);
}
.button_container {
    left: calc(1440px - 80px);
    }    

.profile-work{
    left: 440px;
    clear: both;
    float: left;
    width: calc(1000px);
}

.profile-work-4{
    left: 440px;
    clear: both;
    float: left;
    width: calc(850px);
}

.profile-work-5{
    clear: both;
    right: 0px;
    float: left;
    position: relative;
    width: calc(1100px);
    display: block;
    padding-top: 0px;
}   
}
